{% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-block alert-danger fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    <strong>Error!</strong> {{ message }}
                </div>
             {% elif message.tags == "info" %}
                 <div class="alert alert-info  fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    {{ message }}
                </div>               
             {% elif message.tags == 'success' %}
                <div class="alert alert-success fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}