<ul class="nav top-menu hidden-xs hidden-sm pull-left notify-row">
    <li class="dropdown icon">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-tasks"></i>
            {% if pending_tasks and pending_tasks|length > 0 %}
            <span class="badge bg-important">{{ pending_tasks|length }}</span>
            {% endif %}
        </a>
        <ul class="dropdown-menu extended notification">
            <div class="notify-arrow notify-arrow-success"></div>
            <li>
                {% if pending_tasks and pending_tasks|length > 0 %}
                    <p class="success">You have {{ pending_tasks|length }} Pending Task</p>
                {% else %}
                    <p class="success">You have no pending task.</p>
                {% endif %}
            </li>
            {% for task in pending_tasks %}
            <li>
                <a href="{% url 'dashboard:task_detail' task.id %}">
                    <span class="label label-info">
                    <i class="fa fa-thumbs-up"></i></span>
                        {{ task.short_description }}
                    <span class="small italic">{{ task.time_ago }}</span>
                </a>
            </li>
            {% endfor %}
            <li>
                <a href="#">See all pending Task</a>
            </li>
        </ul>
    </li>

    <li class="dropdown icon">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-bell"></i>
            {% if notifications and notifications|length > 0 %}
            <span class="badge bg-important">{{ notifications|length }}</span>
            {%  endif %}
        </a>
        <ul class="dropdown-menu extended notification">
            <div class="notify-arrow notify-arrow-info"></div>
            {% if notifications and notifications|length > 0 %}
                <li>
                    <p class="info">You have {{ notifications|length }} new notifications</p>
                </li>
            {% else %}
                <li>
                    <p class="info">You have no new notification</p>
                </li>
            {% endif %}

            {% for notification in notifications %}
                <li>
                    <a href="{% url 'dashboard:notification_detail' notification.id %}">
                        <span class="label label-info">
                        <i class="fa fa-thumbs-up"></i></span>
                            {{ notification.short_description }}
                        <span class="small italic">{{ notification.time_ago }}</span>
                    </a>
                </li>
            {% endfor %}

            <li>
                <a href="#">See all notifications</a>
            </li>
        </ul>
    </li>
</ul>